.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

/*
* Globals
*/

/* Links */
a,
a:focus,
a:hover {
    color: #000;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #F8F9FB;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #000;
    border: 0.05rem solid #000;
}

html,
body {
    height: 100%;
    background-color: #F8F9FB;
}

@font-face {
    font-family: Orbitron;
    src: url(orbitron-bold.otf);
}

body {
    display: -ms-flexbox;
    display: flex;
    color: #000;
    font-family: "Noto Serif SC", "Ubuntu", "Microsoft YaHei", sans-serif;
    font-weight: 700;
    text-shadow: 0 0.05rem 0.1rem rgba(255, 255, 255, 0.5);
    
}

.cover-container {
    max-width: 60em;
}

.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    font-family: Orbitron;
    margin-bottom: 1rem;
    font-size: 36px;
}

.nav-masthead .nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    font-size: 24px;
    color: #888;
    background-color: transparent;
    border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    transition: all 0.25s;
    color: #222;
    border-bottom-color: #222;
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 2rem;
}

.nav-masthead .active {
    color: #000;
    border-bottom-color: #000;
}

.fn {
    display: none;
}

@media (min-width: 52em) {
    .masthead-brand {
        font-size: 32px;
        float: left;
    }
    .nav-masthead {
        float: right;
    }
    .fn {
        display: inline;
    }
    .nav-masthead .nav-link {
        font-size: 16px;
        margin-left: 1rem;
    }
}

.cover {
    padding: 0 1.5rem;
    font-weight: 600;
}
.cover .btn-lg {
    padding: 0.75rem 1.25rem;
    font-weight: 700;
}

.mastfoot {
    color: #888;
}

.logo {
    max-width: 25rem;
    width: 60%;
    transition: all 0.5s;
}

.logo:hover {
    box-shadow: #888;
    /* transform: scale(1.2) rotate(-360deg); */
}

.cover-heading {
    font-size: 32px;
    color: #222;
    transition: all 0.25s;
    line-height: 3.3rem;
}

.main-link {
    font-size: 32px;
    color: #222;
    transition: all 0.25s;
    line-height: 3.3rem;
    text-decoration: none;
}

.main-link:hover {
    color: #5887FC;
    font-size: 40px;
    text-decoration: none;
}

.bili-link {
    font-size: 40px;
    transition: all 0.25s;
    line-height: 3.3rem;
    text-decoration: none;
}

.bili-link:hover {
    font-size: 50px;
    color: #5887FC;
    text-decoration: none;
}

@font-face {
    font-family: "iconfont"; /* Project id  */
    src: url('iconfont.ttf?t=1623669608002') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-bilibili-line:before {
    content: "\e75d";
}

.title-link:hover {
    text-decoration: none;
}

p.card-text {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.changelang {
    position: fixed;
    right: 30px;
    bottom: 30px;
    transition: all 0.5s;
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    box-shadow: 0 .5rem 2rem rgba(0,0,0,.3)!important;
}

.changelang:hover {
    color: #f8f9fa;
    background-color: #212529;
    border-color: #212529;
}

@media (max-width: 550px) {
    .main-link {
        font-size: 22px;
    }
    .main-link:hover {
        font-size: 34px;
    }
    .bili-link {
        font-size: 28px;
    }
    .bili-link:hover {
        font-size: 42px;
    }
    .cover-heading {
        font-size: 24px;
    }
    .changelang {
        bottom: 60px;
    }
}